@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  /* background-color: #4ca6ff; */
  background: linear-gradient(to bottom, #4ca6ff, #382dd8);
  color: white;
  font-family: "Montserrat";
}
/* 535353 */
/* Hide scrollbar but keep scrolling functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
